<div class="jobs-details">
    <div id="details-container">
        <div class="banner-container"><a href=""><img class="d-block w-100"
                    src="https://files.codingninjas.com/web-banner-28759.png" alt="First slide"></a>
        </div>
        <% if (job) { %>
            <div class="card-body">
                <div class="banner-h1">
                    <h1><span>
                            <%= job.role %>
                        </span> opportunity in <span>
                            <%= job.location%>
                        </span> at <span>
                            <%= job.name %>.
                        </span></h1>
                </div>

                <h4 class="card-title my-1 fw-bold text-info text-uppercase">
                    <%= job.name %>
                </h4>
                <p class="card-role">
                    <span class=" fw-bold" style="font-size:1.4rem;">
                        <%= job.profile %>
                    </span>
                    <%= job.role %>
                </p>
                <p class="card-location fw-bold">
                    <%= job.location %>
                </p>
                <p class="card-salary fw-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path
                            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                        </path>
                    </svg>
                    <%= job.salary %>
                </p>
                <p class="card-salary fw-bold">Apply By 30 Aug 2023.</p>
                <p class="card-salary fw-bold">Number of opening: 5</p>
                <p class="card-salary fw-bold">Applicants:<%if(result){%>
                        <%=result%>
                            <% } %>
                </p>

                <% job.skills.forEach((skill)=> { %>
                    <span class="skills-tags">
                        <%= skill %>
                    </span>

                    <% }); %>
                        <!-- Modal Trigger Button -->
                        <a href="#myModal" class="bg-info apply-now " data-bs-toggle="modal"> Apply Now</a>
                        <!-- Modal -->
                        <div id="myModal" class="modal my-modal " tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header modal-header2 ">
                                        <h2>Provide the details to apply</h2>
                                        <button type="button" class="btn-close modal-close-btn " data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body modal-styles">
                                        <form method="post" action="/jobs/<%= job.id %>/apply"
                                            enctype="multipart/form-data">
                                            <div class="form-ele">
                                                <label for="name">Name:</label>
                                                <input type="text" id="name" name="name" style="width: 100%;">
                                            </div>
                                            <div class="form-ele">
                                                <label for="email">Email:</label>
                                                <input type="email" id="email" name="email" style="width: 100%;">
                                            </div>

                                            <div class="form-ele">
                                                <label for="phone">Phone:</label>
                                                <input type="tel" id="phone" name="phone" style="width: 100%;">
                                            </div>
                                            <div class="form-ele">
                                                <label for="resume">Upload Resume:</label>
                                                <input type="file" id="resume" name="file">
                                            </div>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <p>No job details available.</p>
                            <% } %>
            </div>
    </div>

</div>