<div class="jobs-details">
    <div id="details-container">
        <div class="banner-container">
            <img class="d-block w-100" src="/images/carousel-1.jpg" alt="First slide">
        </div>
        <% if (job) { %>
            <div class="card-body">
                <div class="banner-h1">
                    <h1><span>
                            <%= job.role %>
                        </span> opportunity in <span>
                            <%= job.location%>
                        </span> at <span>
                            <%= job.name %>.
                        </span></h1>
                </div>

                <h4 class="card-title my-1 fw-bold text-info text-uppercase">
                    <%= job.name %>
                </h4>
                <p class="card-role">
                    <span class=" fw-bold" style="font-size:1.4rem;">
                        <%= job.profile %>
                    </span>
                    <%= job.role %>
                </p>
                <p class="card-location fw-bold">
                    <%= job.location %>
                </p>
                <p class="card-salary fw-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path
                            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                        </path>
                    </svg>
                    <%= job.salary %>
                </p>
                <p class="card-salary fw-bold">Apply By 30 Aug 2023.</p>
                <p class="card-salary fw-bold">Number of opening: 5</p>
                <p class="card-salary fw-bold">Applicants: 1</p>
                <% job.skills.forEach((skill)=> { %>
                    <span class="skills-tags">
                        <%= skill %>
                    </span>

                    <% }); %>
                        <a href="#" class="bg-info apply-now"> Apply Now</a>
                        <% } else { %>
                            <p>No job details available.</p>
                            <% } %>
            </div>
    </div>

</div>